<section class="content-wrapper">
    <section class="content" ng-init="fetchPassports()">

    <div class="row">
         
        <div class="col-md-8 col-xs-12 col-sm-6">
        <p ng-if="passports.length <= 0 "> No user checked in</p>
       <div class="row">
            
           <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="p in passports track by $index" style="cursor:pointer">
               <div class="info-box" ng-click="showItems(p)">
                   <span class="info-box-icon" style="color:white;background-color:{{p.passport.setting.web_colour}}">{{p.redeemsLeft}}</span>
                   <div class="info-box-content">
                       <span class="info-box-text" style="font-size: 18px;font-weight: bold">{{p.user["first_name"]}} &nbsp; {{p.user["last_name"]}}</span>
                       <span class="info-box-number">HIPID: {{p.user.hipid}}</span>
                   </div>
                   <!-- /.info-box-content -->
               </div>
               <!-- /.info-box -->
           </div>
       </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
                     <div class="panel panel-default">
              <div class="panel-heading">
                  Check Promo Code Availablity!
              </div>
              <div class="panel-body">
                      <form>
           
              <div class="input-group">
                  <input type="text" ng-model="couponCode" name="promoCode" id="promo" class="form-control" placeholder="Please enter code">
                  <span  class="input-group-btn" style="width:0;">
                      <button class="btn btn-default" ng-click="applyPromoCode()" type="submit">Check</button>
                  </span>
                 
              </div>
            </form>  
              </div>

          </div>
        </div>
    </div>
    </section>
</section>

<script type="text/ng-template" id="couponverfy">

<h1>This Code is Valid</h1>
  <button class="btn btn-success btn-block" ng-click="confirm('redeem')">
                    Redeem Offer
</button>
                <button class="btn btn-danger btn-block" ng-click="closeThisDialog('Somevalue')">Cancel</button>
         
</script>


