


<secton class="content-wrapper" ng-init="fetchItems()">
    <section class="content-header">
        <h4>
            {{currentPassport.user['first_name']}}&nbsp;{{currentPassport.user['last_name']}}
            <span style="color:darkred">&nbsp; REDEEM LEFT: {{redeemLeft}}</span>
        </h4>
    </section>

    <section class="content">
    <!-- /.box -->
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="item in items track by $index">
            <div class="box" ng-init="quantity[$index]=0">
                <div class="box-header  with-border">
                    <h5 style="font-size: 12px;font-weight: bold" class="box-title">{{item.name}}</h5>
                </div>
                <div class="box-body">
                    <div class="input-group">
                          <div class="input-group-btn" >
                            <a  class="btn btn-danger" ng-click="decr($index,item)">
                              <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </div>
                        <input type="text" value="0" class="form-control" ng-model="quantity[$index]">
                          <div class="input-group-btn">
                            <a  class="btn btn-success" ng-click="incr($index,item)">
                                <span class="glyphicon glyphicon-plus"></span>                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="margin-top: 25px">
            <div class="box">
                <button class="btn btn-success btn-block" style="" ng-click="confirmOrder()">
                    <span class="glyphicon glyphicon-ok " aria-hidden="true"></span>    Place Order</button>
            </div>
        </div>

    </div>

</section>
</secton>




<script type="text/ng-template" id="templateId">
    <table class="table" id="brevTable" ng-init="count=getTotalItem()">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="item in selectedItems track by $index">
            <td ng-if="selectedItems[$index]">{{item.name}}</td>
            <td ng-if="selectedItems[$index]">{{item.quantity}}</td>
        </tr>
        <tr ng-if="redeemLeft > count">
            <th>Total Quantity</th>
            <td><strong>{{getTotalItem()}}</strong></td>
        </tr>
        <tr ng-if="redeemLeft < count">
            <td colspan="2" class="bg-danger">Cannot order more items</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-success btn-block" ng-click="confirm('order')" ng-disabled="redeemLeft < count">
                    Place Order
                </button>

                <button class="btn btn-danger btn-block" ng-click="closeThisDialog('Somevalue')">Cancel Order</button>
            </td>

        </tr>
    </table>
</script>



