 <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>Hipcask </b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" ui-sref="passport">Passports</a></li>
            <li><a href="#" ui-sref="history">History</a></li>
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          </ul>
          <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
              <!--<input type="text" class="form-control" id="navbar-search-input" placeholder="Search">-->
            <!--</div>-->
          <!--</form>-->
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- /.messages-menu -->

            <!-- Notifications Menu -->
            <!--<li class="dropdown notifications-menu">-->
              <!--&lt;!&ndash; Menu toggle button &ndash;&gt;-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-bell-o"></i>-->
                <!--<span class="label label-warning">10</span>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li class="header">You have 10 notifications</li>-->
                <!--<li>-->
                  <!--&lt;!&ndash; Inner Menu: contains the notifications &ndash;&gt;-->
                  <!--<ul class="menu">-->
                    <!--<li>&lt;!&ndash; start notification &ndash;&gt;-->
                      <!--<a href="#">-->
                        <!--<i class="fa fa-users text-aqua"></i> 5 new members joined today-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash; end notification &ndash;&gt;-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li class="footer"><a href="#">View all</a></li>-->
              <!--</ul>-->
            <!--</li>-->

            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <!--<img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{outletname}} &nbsp; {{outletlocality}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <!--<img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->

                  <p>
                    {{outletcontactperson}}
                    <small></small>
                  </p>
                </li>
                <!-- Menu Body -->
                <!--<li class="user-body">-->
                  <!--<div class="row">-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<a href="#">Sales</a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<a href="#">Friends</a>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</li>-->
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a ng-click="logout()" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>