<secton class="content-wrapper" ng-init="fetchHistory()">
    <section class="content-header">
        <h4>
            Redemption History
        </h4>
    </section>

    <section class="content" >
        <!-- /.box -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <form class="form-inline" ng-submit="filterSubmit(formData)">
                            <div class="form-group has-feedback">
                                <label for="pageSize" class="control-label">Display records</label>

                                <select id="pageSize" class="form-control" ng-model="formData.perPage">
                                    <option value="1000" selected>All</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        <div class="form-group has-feedback">
                            <label for="dateRange" class="control-label">Date Range</label>
                            <input id="dateRange" type="text" date-range-picker="" class="form-control" ng-model="formData.date">
                            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                        </div>
                            <button type="submit" class="btn btn-success">Go</button>

                        </form>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total Quantity</th>
                                <th>Items</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in redemptions">
                                    <td>{{r.name}}</td>
                                    <td data-title="'Total Quantity'">{{r.totalquantity}}</td>
                                    <td data-title="'Items'"><p ng-repeat="item in r.items">{{item.name}}:{{item.quantity}}</p></td>
                                    <td data-title="'Date'">{{r.date | date :'medium'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</secton>

